{% extends "core/base.html" %}
{% block title %} Películas - CineApp {% endblock %}

{% block content %}

<div class="page-header">
    <h1 class="page-header__title">Página de Películas</h1>
  </div>
  <div class="container">
  <div class="card">
    <h2 class="card__title">Bienvenido a la página de Películas</h2>
    <p class="card__body">
      Aquí encontrarás todas las Películas. Puedes agregar nuevas Películas
      mediante el formulario o buscar por nombre y autor.</p>
      <div>
        <table class="table table-bordered">
          <thead> 
            <th>nombre</th>
          </thead>
          <tbody>
            {% for pelicula in peliculas %}
            <tr>
              <td>{{ pelicula.nombre }}</td>
              <td>
                <a class="btn" href="{% url 'PeliculaDetalle' pelicula.pk %}"  >Detalles</a>
                <a class="btn" href="{% url 'PeliculaEditar' pelicula.pk %}"">Cambiar</a>
                <a class="btn" href="{% url 'PeliculaDelete' pelicula.pk %}"">Eliminar</a>
             </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    
    
    <div class="card__footer">
      <a href="{% url 'peliculasFormulario' %}" class="btn">Agregar Película</a>
      <a href="{% url 'buscarPeliculas' %}" class="btn btn--outline">Buscar Película</a>
    </div>
  </div>
</div>

{% endblock %}