{% extends "core/base.html" %}

{% block title %} Detalles de Película - CineApp {% endblock %}

{% block content %}

<div class="container">
    <div class="card section--sm center">
        <strong>
        <p class="card__body"> Nombre: {{ pelicula.nombre }} </p>
        <p class="card__body"> Autor: {{ pelicula.autor }} </p>
        <p class="card__body"> Estreno: {{ pelicula.fecha_estreno }} </p>
        <p class="card__body"> Genero: {{ pelicula.genero }} </p>
        </strong>
        <a href="{% url 'peliculas' %}" class="btn btn--outline">Volver a Películas</a>
    </div>
</div>

{% endblock %}